---
import BaseLayout from './BaseLayout.astro'
import PublicNav from '../components/public/PublicNav.astro'

interface Props {
  title?: string
  description?: string
}
const { title = 'DegreeWiki', description } = Astro.props
---
<BaseLayout title={title} description={description}>
  <div class="min-h-screen flex flex-col bg-white">
    <PublicNav />
    <main class="flex-1">
      <slot />
    </main>
  </div>
</BaseLayout>
